.headline {
  font-size: 30.4px;
  font-weight: 300;
  color: var(--mainBlue);
  /* width: 100%;
background-color: var(--bc2); */
  @media (--md) {
    font-size: 46px;
  }
  &--centered {
    text-align: center;
  }
  &--light {
    font-weight: 100;
  }
  &--orange {
    color: var(--mainOrange);
  }
  &--narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  &--no-t-margin-from-md {
    @media (--md) {
      margin-top: 0;
    }
  }
  &--small {
    font-size: 19.2px;
    @media (--md) {
      font-size: 30px;
    }
  }
}
