.page-section {
  padding: 19.2px 0;
  &--blue {
    background-color: var(--mainBlue);
    color: #ffffff;
  }
  &--testimonials {
    background-color: #e0e6ef;
  }
  &--no-b-padding {
    padding-bottom: 0;
  }
}
