.section-title {
  font-size: 40.8px;
  font-weight: 300;
  text-align: center;
  @media (--md) {
    font-size: 60px;
  }
  & strong {
    font-weight: 500;
  }
  &__icon {
    margin: auto auto 9.6px auto;
    @media (--md) {
      margin-right: 8px;
      margin-left: 0;
      margin-bottom: 0;
      display: inline-block;
    }
  }
  &--blue {
    color: var(--mainBlue);
  }
}
