.site-header {
  padding: 10px 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  /* background-color: var(--bc1); */
  &__menu-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 10;
    /* background-color: var(--bc2); */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #ffffff;
      transform-origin: 0 0;
      transition: all .3s ease-out;
    }
    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #ffffff;
      transition: all .3s ease-out;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #ffffff;
      transform-origin: 0 100%;
      transition: all .3s ease-out;
    }

    &--close {
      &::before {
        transform: rotate(45deg) scale(1.25);
      }
      & .site-header__menu-icon__middle {
        opacity: 0;
        transform: scaleX(0);
      }
      &::after {
        transform: rotate(-45deg) scaleX(1.25);
      }
    }
  }
  &__logo {
    background-color: var(--mainBlue);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    transform-origin: 50% 0;
    padding: 25px 36px;
    transition: all .3s ease-out;
    &__text {
      text-indent: -9999px;
    }
  }
  &__menu-content {
    position: relative;
    z-index: -10;
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    padding-top: 90px;
    text-align: center;
    /* background-color: var(--bc3);
    width: 100%;
    height: 400px; */
    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }
  &--is-expanded {
    background-color: rgba(var(--mainBlue), .55);
  }
}
